* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

#tsparticles {
  position: fixed;
  z-index: 1;
  top: 1px;
  width: 100vw;
  height: 100vh;
}

.blogPostContainer {
  display: flex;
  font-family: Bai Jamjuree;
  justify-content: flex-start;
  align-items: flex-start;
}
.blogPostContainer .whoWrite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  text-align: justify;
  width: 120px;
  padding: 10px;
  margin-right: 15px;
}
.blogPostContainer .whoWrite p {
  font-size: 12px;
}
.blogPostContainer .postContainer {
  background-color: #FFFFFF;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 41px;
  padding: 74px;
}
.blogPostContainer .postContainer .mainContentPost {
  max-width: 924px;
  overflow: scroll;
  overflow-y: visible;
  overflow-x: hidden;
  max-height: 800px;
  padding-right: 15px;
}
.blogPostContainer .postContainer .mainContentPost h1 {
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 57px;
  color: #000000;
}
.blogPostContainer .postContainer .mainContentPost div {
  width: 100%;
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  /* or 192% */
  text-align: justify;
}
.blogPostContainer .postContainer .mainContentPost div p {
  color: black;
}

.wrapNextPost {
  display: flex;
}
.wrapNextPost .nextPost {
  padding: 10px;
  max-width: 396px;
  height: 390px;
  background: #FFFFFF;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}
.wrapNextPost .nextPost img {
  height: 270px;
  object-fit: cover;
}
.wrapNextPost .nextPost span {
  font-size: 20px;
  line-height: 26px;
  /* or 130% */
  text-align: justify;
}
.wrapNextPost .nextPost p {
  font-size: 12px;
}

.homeHeader {
  display: flex;
}
.homeHeader_wrapContent {
  margin-left: 70px;
}
.homeHeader_wrapContent-title {
  font-family: Bai Jamjuree;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: black;
}
.homeHeader_wrapContent-content {
  font-family: Bai Jamjuree;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.homeHeader_wrapNewsletter {
  width: 523px;
  display: flex;
  flex-direction: column;
}
.homeHeader_wrapNewsletter span {
  font-family: Bai Jamjuree;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.homeHeader_wrapInput {
  display: flex;
  align-items: center;
  width: 100%;
}
.homeHeader_wrapInput-input {
  width: 357px;
  height: 46px;
  margin-right: 35px;
  background: #FFFFFF;
  border: 1px solid #797676;
}
.homeHeader_wrapInput button {
  cursor: pointer;
  padding: 12px;
  text-align: center;
  color: #FCFCFC;
  width: 144px;
  height: 46px;
  border: none;
  font-weight: bold;
  background: #797676;
}

.ContainerWrap {
  margin-top: 45px;
  padding: 100px 0;
  background: white;
}
.ContainerWrap h2 {
  text-align: center;
  font-size: 46px;
}

.how {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.how_wrapContent {
  background: #FFFFFF;
  border: 1px solid #000000;
  max-width: 328px;
  margin-right: 41px;
}
.how_wrapContent:last-child {
  margin-right: 0px;
}
.how_wrapContent_container {
  margin-top: 12px;
  padding: 20px;
}
.how_wrapContent_container-title {
  text-align: center;
  font-size: 18px;
}
.how_wrapContent_container-content {
  font-size: 14px;
  text-align: justify;
}
.how_wrapContent:first-child div {
  padding: 70px 20px !important;
}

.howFix {
  margin-top: -28px;
}

.blogHome {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C4C4C4;
  padding: 45px 0;
}
.blogHome_content {
  margin-left: 45px;
}
.blogHome_content p {
  text-align: justify;
  width: 563px;
  font-size: 14px;
}

.BlogPageContainer article {
  background: #FFFFFF;
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  position: relative;
  transition: 1s;
}
.BlogPageContainer article:hover {
  transform: translateX(15px);
  transition-timing-function: ease-in-out;
}
.BlogPageContainer article .share {
  width: 95%;
  display: none;
  color: black;
  top: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 1;
}
.BlogPageContainer article .share span {
  position: relative;
  text-align: center;
  right: 50px;
  margin-bottom: 20px;
}
.BlogPageContainer article .share .iconsDiv {
  display: flex;
}
.BlogPageContainer article .share .iconsDiv svg {
  margin-right: 10px;
}
.BlogPageContainer article .wrapTextBlog {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.blogRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}
.blogRow_wrapContent {
  max-width: 360px;
}
.blogRow_wrapContent_container-title {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.blogRow_wrapContent_container-content {
  font-size: 14px;
}
.blogRow_wrapContent:last-child {
  margin: 0;
}

.TeamContainer {
  display: flex;
  flex-wrap: wrap;
}
.TeamContainer_teamCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 57px;
  font-size: 22px;
}
.TeamContainer_teamCard:nth-child(n+5) {
  margin-top: 25px;
}
.TeamContainer_teamCard img {
  max-width: 206px;
  max-height: 206px;
  object-fit: cover;
  border-radius: 50%;
}

.teamFix {
  padding-top: 0px;
  margin-top: 45px;
}
.teamFix h2 {
  padding-top: 45px;
}

.socialMidia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 86px;
}

.image1 {
  background: url("https://www.thebalancesmb.com/thmb/f3_NuKDRY2fe11yaHZ0Eh3ZebK4=/1333x1000/smart/filters:no_upscale()/smart-goal-examples-2951827_final-5b6887cc46e0fb0050aa0bc9.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 186.8759002686px;
}

.image2 {
  background: url("https://mk0softwareplanjrdht.kinstacdn.com/wp-content/uploads/2019/02/trello-timeline-milestones.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 186.8759002686px;
}

.image3 {
  background: url("https://www.vislumbrerh.com/wp-content/uploads/2018/06/Tipos-de-Inova%C3%A7%C3%A3o-600x300.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 186.8759002686px;
}

/*# sourceMappingURL=style.css.map */
